<%= render 'shared/navbar' %>

<div class="contrainer">


<h1>About me</h1>

<p>Hi! I'm Dylan, a curious and creative thinker who loves solving problems and learning new things. Whether it's through tech, art, or conversation, I enjoy connecting ideas and people. Always growing, always exploring.</p>


<%= image_tag "coding.png", alt: "Person coding" %>


<h1 class="center">My Developer Toolkit</h1>

<h2>Front-end</h2>


<%= image_tag "javascript-logo.png", class: "pictures", alt: "javaScript coding" %>
<%= image_tag "html-logo.png", class: "pictures", alt: "html coding" %>
<%= image_tag "css-logo.png", class: "pictures", alt: "css coding" %>


</div>




<%= render 'shared/footer' %>
