<%= render 'shared/navbar' %>

<div class="contrainer">


  <h1>About me</h1>

  <p>Hi! I'm Dylan, a curious and creative thinker who loves solving problems and learning new things. Whether it's through tech, art, or conversation, I enjoy connecting ideas and people. Always growing, always exploring.</p>


  <%= image_tag "coding.png", alt: "Person coding" %>


  <h1 class="center mb-2">My Developer Toolkit</h1>

  <h4>Front-end</h4>


  <%= image_tag "javascript-logo.png", class: "pictures", alt: "javaScript coding" %>
  <%= image_tag "html-logo.png", class: "pictures", alt: "html coding" %>
  <%= image_tag "css-logo.png", class: "pictures", alt: "css coding" %>

  <h4 class="center mb-2">Back-end</h4>


  <%= image_tag "ruby-rails.jpg", class: "pictures", alt: "ruby coding" %>
  <%= image_tag "restapi-logo.png", class: "pictures", alt: "restapi coding" %>
  <%= image_tag "sql.png", class: "pictures", alt: "sql coding" %>


  <h4 class="center mb-2 mt-2">Tools & Workflows</h4>
  <%= image_tag "git-logo.png", class: "pictures", alt: "git coding" %>
  <%= image_tag "heroku.png", class: "pictures", alt: "heroku coding" %>
</div>




<%# <%= render 'shared/footer' %>
